*, ::after, ::before{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5{
  margin: 0;
}
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background:linear-gradient(90deg, #eadff1 0%,#f2faff 12%,#f7f0f6 30%,#fff4f1 57%,#f2fdfd 77%,#deecf8 97% );
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  place-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width: 768px){
  body{
    padding: 0 10px;
  }
}